# deps
node_modules/
.pnp*
.pnpm-debug.log*

# builds / caches
dist/
build/
.vite/
.tsbuild/
*.tsbuildinfo

# env & logs
.env
.env.*
!.env.example
*.log

# editor
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
